<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unicorn.sxmobileoa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".login.ui.LoginAct"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".simple.court.ui.CourtAct" />
        <activity android:name=".simple.dbxx.ui.DbxxAct" />
        <activity android:name=".select.dept.ui.DeptAct" />
        <activity android:name=".select.code.ui.CodeAct" />
        <activity android:name=".select.deptUser.ui.DeptUserAct" />
        <activity android:name=".sequenceFlow.ui.SequenceFlowAct" />
        <activity android:name=".commitTask.ui.CommitTaskAct" />
        <activity android:name=".header.nbfw.NbfwAct" />
        <activity android:name=".header.wbfw.WbfwAct" />
        <activity android:name=".header.sbwx.SbwxAct" />
        <activity android:name=".header.sbbf.SbbfAct" />
        <activity android:name=".header.qjsq.QjsqAct" />
        <activity android:name=".header.gcsq.GcsqAct" />
        <activity android:name=".header.jdsq.JdsqAct" />
        <activity android:name=".header.wply.WplyAct" />
        <activity android:name=".header.sbly.SblyAct" />
        <activity android:name=".header.ycsq.YcsqAct" />
        <activity android:name=".header.swgl.SwglAct" />
        <activity android:name=".header.sbbf.detail.SbbfDetailAct" />
        <activity android:name=".header.wply.detail.WplyDetailAct" />
        <activity android:name=".header.sbly.detail.SblyDetailAct" />
        <activity android:name=".header.ycsq.cllx.ui.CllxAct" />
        <activity android:name=".n.attachment.AttachmentAct" />
        <activity android:name=".n.process.ui.ProcessAct" />
        <activity android:name=".n.add.QjsqAddAct" />
        <activity android:name=".n.csx.ui.SpcsxAct" />
        <activity android:name=".simple.main.ui.MainAct2" />
        <activity android:name=".n.news.ui.NewsDetailAct" />
        <activity android:name=".n.ggxx.ui.GgxxDetailAct" />
    </application>

</manifest>